<% provide(:title, "About Me") %>

    <h1><br></h1>
		<h4>
			Hello and welcome! I am Zoe -- a fourth year Grinnell College computer science student.
			<br><br>
			Some of my favorite things to do when I am not busying myself with school work, on campus 
			job, and applications include travelling, reading novels, and playing video games. 
			<br><br>
			During last summer break, I was playing Yakuza0 and God Eater. Then I came back to Grinnell and 
			of course wouldn't have time to finish those...
			<br><br>
			I really love travelling! I have travelled to Japan, Korea, Australia, Canada, Britain, Netherlands, Switzerland, Germany, 
			and many cities in China as well as the U.S.
			<br><br>
			<i>Unbearable Lightness of Being</i>, <i>One Hundred Years of Solitude</i>, and <i>A Tale of Two Cities</i>
			are some of the books I read during junior high and high school that have a lasting influence on me.
		    <br><br>
			The things I love about Grinnell are its storm, its summer haze, its autumn sunset, and the hawks that fly under
			its dawning sky.
		
		</h4>
